* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0f111d;
  overflow: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(15, 17, 29, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 75px;
  transition: transform 0.1s ease;
}
.nav button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease;
  position: relative;
}
.nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
iframe {
  width: 100%;
  height: calc(100% - 65px);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: height 0.15s ease;
}
.nav-l,
.nav-r {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}
.nav-l button,
.nav-r button {
  background-color: transparent;
  border: none;
  color: rgb(176, 176, 176);
  font-size: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.15s ease;
}
.nav-l button:hover,
.nav-r button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.nav-l button:first-child,
.nav-r button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.nav-l button:last-child,
.nav-r button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav button .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 15.5px;
  transition: 0.15s ease;
  pointer-events: none;
  font-family: "Inter";
  backdrop-filter: blur(12px);
}
.nav button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  bottom: 55px;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 17px;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  padding: 0 20px;
}

.battery-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.battery-icon {
  width: 30px;
  height: 15px;
  border: 2px solid white;
  border-radius: 3px;
  position: relative;
}
.battery-icon::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 3px;
  width: 2px;
  height: 7px;
  background: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.battery-level {
  height: 100%;
  background: white;
  width: 0%;
}
#battery-percent {
  font-size: 14px;
  color: white;
}
.vertical-divider {
  width: 1px;
  height: 25px;
  background: rgba(255, 255, 255, 0.3);
}
.time-display {
  font-size: 17px;
  color: white;
}
.date-display {
  font-size: 17px;
  color: white;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 17, 29);
  z-index: 999;
  opacity: 1;
  transition: 0.5s ease;
  flex-direction: row;
}
#loading .spinner {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-top: 8px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#fullscr {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 45px;
  cursor: pointer;
  transition: 0.15s ease;
}

#abCloakBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 45px;
  cursor: pointer;
  transition: 0.15s ease;
}
