/**
 * index styles
 * these are the styles for the main page
 */

.content {
  margin-left: 65px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#frame {
  width: 100%;
  height: 100%;
  border: none;
}
