#nav {
  background-color: rgba(255, 255, 255, 0.1);
  width: 60%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: visible;
  backdrop-filter: blur(10px);
  animation: showNav 0.3s ease;
}

@keyframes showNav {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
}

.nav-left,
.nav-right {
  display: flex;
  gap: 0px;
}

.nav-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  height: 50px;
  padding: 15px;
  aspect-ratio: 1;
  position: relative;
  transition: 0.15s ease;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav-button .tooltip {
  visibility: hidden;
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffffc0;
  text-align: center;
  border-radius: 10px;
  padding: 6.5px 9px;
  position: absolute;
  z-index: 1;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.15s ease;
  pointer-events: none;
  backdrop-filter: blur(10px);
}

.nav-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  bottom: -40px;
  backdrop-filter: blur(10px);
}

.nav-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  padding: 8px 0;
  min-width: 180px;
  z-index: 999;
  transition: opacity 0.1s ease, visibility 0.1s ease;
}

.nav-dropdown-button.active .nav-dropdown {
  visibility: visible;
  opacity: 1;
}

.nav-dropdown-button.active .tooltip {
  visibility: hidden;
  opacity: 0;
  transition: none;
}
.nav-dropdown-item {
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-dropdown-item:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav-dropdown-button.active {
  background: rgba(255, 255, 255, 0.05);
}
